**/*.template.htm.ts
**/__pycache__/**
*.blend
*.blend1
*.cache
*.old
*.psd
*.pyc
*.swp
*.tar.gz
.DS_Store
.vscode
/**/.DS_Store
/.DS_Store
TODO.md
dist
dist/*
dist/**/*
docs
node_modules
old
old2*
old_delme
*.zip
rsync.sh
tmp
tmp2
update_node_etc.sh
